*{
    box-sizing: border-box;
}


.caja4{
    text-decoration: none; transition: 0.5s    
}
.caja4:hover{
    background-color: rgb(231, 231, 231);
}


.cajaespacio{
    
    height: 100px;
}


#logo{
    width:100px ; height: 100px; 
}
.caja5{
    height: 700px;
}

.caja6{
  
    height: 55px;
}
.caja8{
    height: 700px;
}
.caja9{
    height: 700px;
    border: solid   1px  #a1a1a1;
    box-shadow: 1px 1px 1px  #a1a1a1;
}
.caja10{
    margin: 0 20px 0 20px;
    padding-left: 30px; 
}
@media (min-width : 50px) and (max-width: 1199px){
    .ocultarcaja3{
        display: none;
    }
} 
@media (min-width : 50px) and (max-width: 767px){
    .ocultarcaja1{
        display: none;
    }
}     
@media (min-width : 768px) and (max-width: 2000px){
    .ocultarboton{
        display: none;
    }
}
.historias{
    float: left; align-items: center;
    margin-left: 20px; margin-right:20px; margin-top: 10px;
    

}
.circulos{
    border-radius: 50%;
    width: 60px; height: 60px;
    float: left;
    align-items: center;
    display: block;
    border: solid;
    padding: 3px;
        
}


.circulos2{
    border-radius: 100%;
    width: 60px; height: 60px;
    float: left;
    align-items: center;
    display: block;
    border: solid;
    padding: 3px;
}
.circulos3{
    border-radius: 100%;
    width: 60px; height: 60px;
    float: left;
    align-items: center;
    display: block;
    border: solid;
    padding: 3px;
}
.perfiles_D{
    width: 50px; height: 50px; border-radius: 100%;
    float: left;
    display: block;
    border: solid;
    padding: 3px;
    
    
}
h6{
    float: left;
    height: 30px;
}
.sugerenciasParaTi{
    float: left;
    height: 30px;
    font-size: 100%;
}
@media (min-width : 50px) and (max-width: 767px){
    .circulos2{
        display: none;
    }
} 
@media (min-width : 50px) and (max-width: 1023px){
    .circulos3{
        display: none;
    }
    
} 
@media (min-width : 50px) and (max-width: 30000px){
    .circulos4{
        display: none;
    }
}
.ViwMore{
    float: right;
    margin-left: auto;
    
}
.cajita{
    align-items: center;
    margin-top: 5px;
    float: left;
    margin-left: auto;
    height: auto;
}

.image_menu{
   
    width: 20px; height: 5px;
    justify-content: end;
    
}
.reacciones{
    width: 25px; height: 25px; margin-top: 10px;
}
.reacciones:hover{
    
}